<form class="p-4">
  <div class="form-group">
    <label for="article-title">Article Title</label>
    <input
      type="text"
      class="form-control"
      id="article-title"
      aria-describedby="title"
      placeholder="Enter title"
    />  
    <p class="mt-3 mb-0"><label for="body">Article body</label></p>
    <textarea id="body" name="body" rows="6" cols="68">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.</textarea> 
  </div>
  
  <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>
